ion-content{
    --ion-background-color: black;   
    --position:fixed;
    --overflow: hidden;
}

.login{
    z-index:-1; 
    
    .head{
        position: absolute;
        right: 0;
        .signup{
            font-weight:600;
            margin :5px;
        }
    }

    .logo{
        display: block;
        text-align: center;
        width: 200px;
        height: 200px;
        margin-left:auto;
        margin-right:auto;
        background: transparent;
        margin-top: 10px;
    }

    .form{
        text-align: center;
        vertical-align: middle;
        .spacer{
            width:300px;
            height:22px;
        }
        .list{
            background-color:black;
            text-align: center;
            margin-bottom: 0px;

            .input-connexion{
                background-color: white;
                --placeholder-color: purple;
                border-radius: 50px;
                margin : 20px;
                width : auto;
                color: black;
            }

            .validation-errors{
                color:white;
            }
        }

        .forgot{
            font-weight:500;
            font-style:italic;
            --color: rgb(58, 58, 151);
            position: relative;
            float: right;
            margin-right: 20px;
        }

        .signin{
           font-weight:600;
           color:#101110;
           border-radius:20px 20px 20px 20px;
        }

        .error-message{
            color:white;
        }

  
    }
}