<ion-content class="login">
  <ion-grid>
    <ion-row class="head">
      <ion-button class="signup" fill="outline" color="medium" size="small" (click)="goToRegisterPage()">
        Inscription
      </ion-button>
    </ion-row>
    <ion-row>
        <img class="logo" src="assets/images/logo_movies.png" />
    </ion-row>
    <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
      <div class="spacer"></div>
      <ion-list class="list" >
          <ion-input class="input-connexion" type="text" formControlName="email" placeholder="Email" ></ion-input>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-input class="input-connexion" type="password" formControlName="password"  placeholder="Mot de passe" ></ion-input>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      </ion-list>
      <ion-button class="forgot" small color="black" size="small" on-click="goToPassword_demande()">
        Mot de passe oublié ?
      </ion-button>
      <div class="spacer"></div>
    
      <div class="spacer"></div>
      <ion-button color="medium" fill="outline" class="signin submit-btn" type="submit"  [disabled]="!validations_form.valid">
        Connexion
      </ion-button>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <label class="error-message">{{errorMessage}}</label>
    </form>
  </ion-grid>
</ion-content>