<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="film">
      <ion-icon name="film"></ion-icon>
      <ion-label>Film</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="serie">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Série</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
