<ion-header>
  <ion-toolbar>
    <div class="bar">
      <ion-searchbar animated placeholder="Rechercher" inputmode="search" [(ngModel)]="inputSearch" name="searchBar" (ionChange)="getSearchBar(inputSearch)">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >

    <ion-list *ngFor="let searchResultS of listS">

      <ion-item [routerLink]="['/tabs/search/serie-detail/', searchResultS.id]">
          <ion-grid>   
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="3">
                <div class="affiche">
                <img src="https://image.tmdb.org/t/p/w500/{{searchResultS.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />
                </div>
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="7">
                <ion-label>
                  <div class="titre">
                    <h2> <b> {{ searchResultS.name }} </b> </h2>
                  </div>
                  <h3> {{ searchResultS.first_air_date | date: 'yyyy' }} </h3>
                  <h2 class="note"> Note : {{ searchResultS.vote_average }} </h2>             
                </ion-label>
              </ion-col>
            </ion-row>
          
          </ion-grid>

      </ion-item>
            
    </ion-list>


    <ion-list *ngFor="let searchResultM of listF">
    
      <ion-item [routerLink]="['/tabs/search/film-detail/', searchResultM.id]">
        <ion-grid>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
              <div class="affiche">
                <img
                src="https://image.tmdb.org/t/p/w500/{{searchResultM.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />
              </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="7">
              <ion-label>
                <div class="titre">
                  <h2> <b> {{ searchResultM.title }} </b> </h2>
                </div>
                <h3> {{ searchResultM.release_date | date: 'yyyy' }} </h3>
                <h2 class="note"> Note : {{ searchResultM.vote_average }} </h2>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>


