.affiche {
    width: 87.5px;
    height: 125px;
    border-radius: 10%;
}
        
.titre {
    font-style: oblique;
    display: flex;
    padding-top: 8%;
}

.note {
    padding-top: 15%;
}

.bar {
    padding-top: 5%;
}