<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <loading-icon *ngIf="!serie"></loading-icon> -->
  <!-- <div *ngIf="serie" class="content">
    <ion-grid>
      <ion-row align-items-center>
        <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
        onError="this.src = '../assets/images/no-image-poster.png'" />
      </ion-row>
      <ion-row>
        <ion-item >
          <ion-label>
            <i>{{serie.vote_average}}</i>
          </ion-label>
          <ion-label>

          </ion-label>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div> -->

  <div *ngIf="serie" class="content">

    <div class="serie-header">
      <div class="serie-backdrop-image">
        <img src="https://image.tmdb.org/t/p/original/{{serie.backdrop_path}}"
          onError="this.src = '../assets/images/no-image-path.png'" />
      </div>

      <div class="serie-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
          onError="this.src = '../assets/images/no-image-poster.png'" />
      </div>

      <div class="serie-rating">
        <span>{{serie.vote_average}}</span>
      </div>
    </div>

    <div class="serie-info">
      <div class="serie-title">
        <span>{{serie.name}}
          <span class="serie-year">({{serie.first_air_date | date: 'yyyy'}})</span>
        </span>
      </div>

      <div class="serie-info-type">
        <div class="serie-runtime">
          <ion-icon name="time"></ion-icon>
          <span *ngFor="let runtime of serie.episode_run_time">{{runtime}} min</span>
        </div>
        <div class="serie-genres">
          <span *ngFor="let genre of serie.genres">{{genre.name}}&nbsp;</span>
        </div>
      </div>

      <!-- <div class="serie-user-actions">
        <ion-icon name="list" (click)="addMovieToList()"></ion-icon>
        <ion-icon [ngClass]="{'favorited': isFavorite}" name="heart" (click)="likeMovie()"></ion-icon>
        <ion-icon [ngClass]="{'selected': isOnWatchlist}" name="bookmark" (click)="addMovieToWatchList()"></ion-icon>
        <ion-icon name="share" (click)="shareMovie()"></ion-icon>
      </div> -->

      <!-- <div class="second-serie-user-actions">
        <div class="serie-rate">
          <ion-icon name="star" 
          *ngFor="let i of [1,2,3,4,5];" 
          [ngClass]="{'active': rate >= i}"
          (click)="rateMovie(i)"
          ></ion-icon>
        </div>

        <div class="serie-play" (click)="showMovieTrailer();">
          <ion-icon name="play"></ion-icon>
          <span>Trailer</span>
        </div>
      </div> -->


    <ion-card class="serie-sub-info-card">
      <div class="overview">
        <div class=title>
          <span class="title">Synopsis</span>
        </div>
        <div class="text">
          <p>{{serie.overview}}</p>
        </div>
      </div>
      <div class="cast">
        <div class=title>
          <span class="title">Casting</span>
        </div>
        <div class="cast-list" *ngIf="castList">
          <div class="cast-item" *ngFor="let people of castList">
            <div class="cast-photo">
              <img src="https://image.tmdb.org/t/p/w500/{{people.profile_path}}" *ngIf="people.profile_path" />
            </div>
            <div class="cast-info">
              <span class="cast-name">{{people.name}}</span> <br />
              <span class="cast-character">{{people.character}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card class="season-card" >
      <div class="season-series">
        <div class=title>
          <span class="title">Saisons</span>
        </div>
        <div class="content">
          <ion-item-group *ngFor="let season of serie.seasons">
            <ion-item>
              <ion-label class="season-label"> {{season.name}} - {{season.episode_count}} épisodes</ion-label>
            </ion-item>
          </ion-item-group>
        </div>
      </div> 
    </ion-card>

    <ion-card class="comment-card">
      <div class="comments">
        <ion-list-header class="title">
          Commentaires
        </ion-list-header>
        <ion-list class="comments-list" >
          <ion-item *ngFor="let comment of comments">
            <ion-avatar slot="start">
              <img src="../assets/images/no-avatar.png">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <ion-button class="icon-delete" *ngIf="currentUser === comment.uid" icon-only (click) ="deleteComment(serie.id,comment.date)" size="small" fill="clear" >
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>      
              <h2> {{comment.username}}</h2>
              <h3> {{comment.date | date:'short'}} </h3>
              <p>{{comment.comment}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <form class="form" name="commentForm"  #myForm="ngForm"  [formGroup]="validations_form" (ngSubmit)="sendComment(validations_form.value); myForm.reset()">
          <ion-list lines="none">
            <ion-item>
              <ion-textarea text="text" formControlName="commentary" placeholder="Commente"></ion-textarea>
                <ion-button type="submit" >
                    <ion-icon name="md-add"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
        </form>

      </div>
    </ion-card>

    <ion-card class="similar-serie-card" *ngIf="similarSeries.length">
      <div class="similar-series">
        <div class=title>
          <span class="title">Séries similaires</span>
        </div>
        <div class="content">
          <div class="serie" *ngFor="let serie of similarSeries">
            <div class="serie-poster">
              <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
              [routerLink]="['/tabs/serie/serie-detail/', serie.id]" />
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    </div>
  </div>

    
</ion-content>
