<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loading-icon *ngIf="!movie"></loading-icon>

  <div *ngIf="movie" class="content">

    <div class="movie-header">
      <div class="movie-backdrop-image">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}"
          onError="this.src = '../assets/images/no-image-path.png'" />
      </div>

      <div class="movie-poster">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
          onError="this.src = '../assets/images/no-image-poster.png'" />
      </div>

      <div class="movie-rating">
        <span>{{movie.vote_average}}</span>
      </div>
    </div>

    <div class="movie-info">
      <div class="movie-title">
        <span>{{movie.title}}
          <span class="movie-year">({{movie.release_date | date: 'yyyy'}})</span>
        </span>
      </div>

      <div class="movie-info-type">
        <div class="movie-runtime">
          <ion-icon name="time"></ion-icon>
          <span>{{movie.runtime}} min</span>
        </div>
        <div class="movie-genres">
          <span *ngFor="let genre of movie.genres">{{genre.name}}&nbsp;</span>
        </div>
      </div>

    <div class="movie-user-actions">
    
      <ion-icon name="list" (click)="message()"></ion-icon>
    
      <ion-icon *ngIf="getCompareFilmFavoris()" color="danger" [ngClass]="{'favorited': favorite}" name="heart"
        (click)="deleteFilmFavoris()"></ion-icon>
    
      <ion-icon *ngIf="!getCompareFilmFavoris()" color="medium" [ngClass]="{'favorited': favorite}" name="heart"
        (click)="ajoutFilmFavoris() ; deleteFilmAVoir()"></ion-icon>
    
      <ion-icon *ngIf="getCompareFilmEnvie()" color="warning" [ngClass]="{'selected': isOnWatchlist}" name="bookmark"
        (click)="deleteFilmAVoir()"></ion-icon>
    
      <ion-icon *ngIf="!getCompareFilmEnvie()" color="medium" [ngClass]="{'selected': isOnWatchlist}" name="bookmark"
        (click)="ajoutFilmAVoir() ; deleteFilmFavoris()"></ion-icon>
    
    </div>
    
    <ion-card class="movie-sub-info-card">
      <div class="overview">
        <div class=title>
          <span class="title">Synopsis</span>
        </div>
        <div class="text">
          <p>{{movie.overview}}</p>
        </div>
      </div>
      <div class="cast">
        <div class=title>
          <span class="title">Casting</span>
        </div>
        <div class="cast-list" *ngIf="castList">
          <div class="cast-item" *ngFor="let people of castList">
            <div class="cast-photo">
              <img src="https://image.tmdb.org/t/p/w500/{{people.profile_path}}" *ngIf="people.profile_path" />
            </div>
            <div class="cast-info">
              <span class="cast-name">{{people.name}}</span> <br />
              <span class="cast-character">{{people.character}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card class="comment-card">
      <div class="comments">
        <ion-list class="comments-list" >
          <ion-list-header class="title">
            Commentaires
          </ion-list-header>
  
          <ion-item *ngFor="let comment of comments">
            <ion-avatar slot="start">
              <img src="../assets/images/no-avatar.png">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2> {{comment.date | date:'short'}} - {{comment.user}} </h2>
              <p>{{comment.comment}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <form class="form" name="commentForm"  [formGroup]="validations_form" (ngSubmit)="sendComment(validations_form.value)">
          <ion-list lines="none">
            <ion-item>
              <ion-input text="text" formControlName="commentary" placeholder="Commente"></ion-input>
              <input type="hidden" formControlName="id_movie" [ngModel]="movie.id" /> 
                <ion-button type="submit" >
                    <ion-icon name="md-add"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
        </form>
    
      </div>
    </ion-card>


    <ion-card class="similar-movie-card" *ngIf="similarMovies.length">
      <div class="similar-movies">
        <div class=title>
          <span class="title">Films similaires</span>
        </div>
        <div class="content">
          <div class="movie" *ngFor="let movie of similarMovies">
            <div class="movie-poster">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
              [routerLink]="['/tabs/film/film-detail/', movie.id]" />
            </div>
          </div>
        </div>
      </div>
    </ion-card>

    </div>
  </div>

    
</ion-content>
