<ion-header>
  <ion-toolbar>
    <ion-title>
        Vos Listes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Vos Films Favoris</ion-card-title>
    
      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let movie of listeFilmFavoris">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}"
                onError="this.src = '../assets/images/no-image-poster.png'"
                [routerLink]="['/tabs/film/film-detail/', movie.id_coucou]" />
            </div>
            <div class="movie-title">
              <span class="title">{{movie.titre}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
      
    </ion-card-header>
  </ion-card>
  

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Vos Envies Films</ion-card-title>
  
      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let voir of listeFilmAVoir">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{voir.poster}}"
                onError="this.src = '../assets/images/no-image-poster.png'"
                [routerLink]="['/tabs/film/film-detail/', voir.id_coucou]" />
            </div>
            <div class="movie-title">
              <span class="title">{{voir.titre}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Vos Séries Favorite</ion-card-title>
  
      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let movie of listeSerieFavoris">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}"
                onError="this.src = '../assets/images/no-image-poster.png'"
                [routerLink]="['/tabs/serie/serie-detail/', movie.id_coucou]" />
            </div>
            <div class="movie-title">
              <span class="title">{{movie.titre}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title> Vos Envies Séries</ion-card-title>
  
      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let movie of listeSerieAVoir">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}"
                onError="this.src = '../assets/images/no-image-poster.png'"
                [routerLink]="['/tabs/serie/serie-detail/', movie.id_coucou]" />
            </div>
            <div class="movie-title">
              <span class="title">{{movie.titre}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

 

</ion-content>
