<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Five
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!--<button ion-button block>LogOut</button>-->
  
<div class="padding">

    <div class="header">
      <h2>{{nomUtilisateur}}</h2>


    <div class="space-between">

      <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p> Abonnés</p>
      </div>

      <div class="followings">
        <ion-badge color="primary" mode="ios">102</ion-badge>
        <p>Abonnements</p>
      </div>
      
    </div>

    </div>
    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img src="../../../assets/images/no-avatar.png">
          </div>
        </div>
      </div>
  </div>


  <!--<ion-label>{{user}}</ion-label>  -->
  <div>
    <ion-item>
      <ion-label color = "">Email</ion-label>
  {{email}}
    </ion-item>
  </div>
  <ion-item>
    <ion-label>Nom</ion-label>
  {{nom}}
  </ion-item>

  <ion-item>
    <ion-label>Nom utilisateur</ion-label>
    {{nomUtilisateur}}
  </ion-item>

  <ion-item>
    <ion-label>Prénom</ion-label>
    {{prenom}}
  </ion-item>

  <br>
  <ion-button fill="outline" shape="round" expand="block">Modifier Profil</ion-button>
  <br>

  <button (click)="logout()">LogOut</button> 


</div>

</ion-content>
