<ion-header>
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-series">
        <button ion-button icon-only [routerLink]="['/tabs/serie/list/', 'today']">
          <ion-card-subtitle>

            Aujourd'hui à la TV

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>

        <div class="scrolling-wrapper" *ngIf="diffusionOjdSerieList">
          <div class="serie" *ngFor="let serie of diffusionOjdSerieList">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"  onError="this.src = '../assets/images/no-image-poster.png'"
              [routerLink]="['/tabs/serie/serie-detail/', serie.id]"/>
            </div>
            <div class="serie-title">
              <span class="title">{{serie.name}}</span>
            </div>
          </div>
        </div>

      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-series">
        <button ion-button icon-only [routerLink]="['/tabs/serie/list/', 'popularSeries']">
          <ion-card-subtitle>

            Séries tendance

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>

        <div class="scrolling-wrapper" *ngIf="popularSerieList">
          <div class="serie" *ngFor="let serie of popularSerieList">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"  onError="this.src = '../assets/images/no-image-poster.png'"
              [routerLink]="['/tabs/serie/serie-detail/', serie.id]"/>
            </div>
            <div class="serie-title">
              <span class="title">{{serie.name}}</span>
            </div>
          </div>
        </div>

      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="best-movies" no-padding no-margin>

      <ion-card-header class="header-card-series">
        <button ion-button icon-only [routerLink]="['/tabs/serie/list/', 'best']">
          <ion-card-subtitle>

            Séries les mieux notés

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>

        <div class="scrolling-wrapper" *ngIf="bestSerieList">
          <div class="serie" *ngFor="let serie of bestSerieList">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"  onError="this.src = '../assets/images/no-image-poster.png'"
              [routerLink]="['/tabs/serie/serie-detail/', serie.id]"/>
            </div>
            <div class="serie-title">
              <span class="title">{{serie.name}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>

    </ion-card>

  </ion-row>

  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="upcoming-movies" no-padding no-margin>

      <ion-card-header class="header-card-series">
        <button ion-button icon-only [routerLink]="['/tabs/serie/list/', 'upcomingSeries']">
          <ion-card-subtitle>

            Prochaine Séries

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>

        <div class="scrolling-wrapper" *ngIf="upcomingSerieList">
          <div class="serie" *ngFor="let serie of upcomingSerieList">
            <div class="poster">
              <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"  onError="this.src = '../assets/images/no-image-poster.png'"
              [routerLink]="['/tabs/serie/serie-detail/', serie.id]"/>
            </div>
            <div class="serie-title">
              <span class="title">{{serie.name}}</span>
            </div>
          </div>
        </div>

      </ion-card-content>

    </ion-card>

  </ion-row>

</ion-content>