<ion-header>
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only>
          <ion-card-subtitle>

            Aujourd'hui à la TV

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let serie of diffusionOjdSerieList">
            <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
              onError="this.src = '../assets/images/no-image-poster.png'" />
          </div>
        </div>
      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only>
          <ion-card-subtitle>

            Séries tendance

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let serie of popularSerieList">
            <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
              onError="this.src = '../assets/images/no-image-poster.png'" />
          </div>
        </div>
      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="best-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only>
          <ion-card-subtitle>

            Séries les mieux notés

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let serie of bestSerieList">
            <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
              onError="this.src = '../assets/images/no-image-poster.png'" />
          </div>
        </div>
      </ion-card-content>

    </ion-card>

  </ion-row>

  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="upcoming-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only>
          <ion-card-subtitle>

            Prochaine Séries

          </ion-card-subtitle>
          <ion-icon id="list" name="arrow-forward"></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper">
          <div class="movie" *ngFor="let serie of upcomingSerieList">
            <img src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}"
              onError="this.src = '../assets/images/no-image-poster.png'" />
          </div>
        </div>
      </ion-card-content>

    </ion-card>

  </ion-row>

</ion-content>