<ion-header>
  <ion-toolbar>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only [routerLink]="['/tabs/film/list/', 'nowPlaying']">
          <ion-card-subtitle>
            
              Au cinéma en ce moment

            </ion-card-subtitle>
            <ion-icon id="list" name="arrow-forward"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper" >
          <div class="movie" *ngFor="let movie of nowPlayingMovieList">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />  
          </div>
       </div>
      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin> 

    <ion-card mode="ios" class="popular-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only  [routerLink]="['/tabs/film/list/', 'popular']">
          <ion-card-subtitle>
            
              Films tendance

            </ion-card-subtitle>
            <ion-icon id="list" name="arrow-forward"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper" >
          <div class="movie" *ngFor="let movie of popularMovieList">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />  
          </div>
       </div>
      </ion-card-content>

    </ion-card>

  </ion-row>


  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="best-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies">
        <button ion-button icon-only  [routerLink]="['/tabs/film/list/', 'topRated']">
          <ion-card-subtitle>
            
              Films les mieux notés

            </ion-card-subtitle>
            <ion-icon id="list" name="arrow-forward"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper" >
          <div class="movie" *ngFor="let movie of bestMovieList">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />  
          </div>
       </div>
      </ion-card-content>

    </ion-card>

  </ion-row>

  <ion-row no-padding no-margin>

    <ion-card mode="ios" class="upcoming-movies" no-padding no-margin>

      <ion-card-header class="header-card-movies" >
        <button ion-button icon-only  [routerLink]="['/tabs/film/list/', 'upcoming']">
          <ion-card-subtitle>
            
              Bientôt au cinéma

            </ion-card-subtitle>
            <ion-icon id="list" name="arrow-forward"></ion-icon> 
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="scrolling-wrapper" >
          <div class="movie" *ngFor="let movie of upcomingMovieList">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onError="this.src = '../assets/images/no-image-poster.png'" />  
          </div>
       </div>
      </ion-card-content>

    </ion-card>

  </ion-row>

</ion-content>