::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-card{
  box-shadow: none !important;
}

ion-card-header{
  padding-bottom: 0px;

}
ion-card-content{
  padding-top: 0px;
  padding-bottom: 0px;

}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  .movie{
    display: inline-block;
    width: 175px;

    .poster {
  
      // width: 50%;   
      width: 175px;
      height: 250px;
        
        img {
            width: 175px;
            height: 250px;
            padding: 10px;
            border-radius: 15px;

        }
    }

    .movie-title{
      overflow: hidden;
      padding-right: 4px;
      text-align: center;
      width: 165px;
      padding: 0px 10px;

      .title{
        width: 160px;
        float: left;
      }
    }

  }

}

.header-card-movies {

  button{
    border: none;
    background: none;
    position: relative;
    width: 100%;
    top:1px;
    right: 1px;
    font-size: medium;
    padding-left: 0px;

    ion-card-subtitle{
      float:left;
      margin-bottom: 0px;
      font-size: medium;
  
    }

    ion-icon{
      float: right;
      color: purple !important;   
    }
  } 

  
}